html{
	background: #fff;
	font-family:  sans-serif;
	cursor: url('./image/finger.png'), auto !important;

}
body{

}

.-my-cursor{

	cursor: url('./image/finger.png'), auto;
}
.-col-50{
	float:left;
	width: 50%;
}

.-purple{
	background: #76557a;
	width: 77vw;
    max-width: 800px;
    height: 70vh;
	left: 44vw !important;
	top: 200px !important;
}

.-yellow{
	background: #fbd665;
	
    top: 34vh !important;
	left: -20vw !important;    
	width: 400px;
    height: 400px;
}

.-black{
	background: #30333a;
	width: 300px;
	height: 300px;

    top: -30vh !important;
}

.-absolute-center{
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.-brand{
	top: 11px;
    position: relative;
}

.-psy-body{
	bottom: 0;
	left: -30px;
	width: 350px;
}

.-psy-pen{
	bottom: -2vh;
    width: 164px;
    left: -18px;
}

.-psy-note{
    width: 220px;
    bottom: -2vh;
    left: 48px;
}

.-what{
    width: 350px;
    right: 0vw;
    bottom: 0vh;
}

.-speech{
	left: 24vw;
    top: 20vh;
    padding: 20px;
	border: 2px solid;
	background: #fff;
	border-radius: 10px;
}

.-comment{
    right: 25px;
    bottom: 488px;
    color: #000;
    background: #fff;
    border: 2px solid;
    padding: 12px;
}